ACTION=="change", KERNEL=="CMB0", \
SUBSYSTEM=="power_supply", \
ATTR{status}=="Discharging", \
ATTR{capacity}=="[0-9]", \
RUN+="${pkgs.dunst}/bin/dunstify \"WARNING LOW BATTERY\""

ACTION=="change", KERNEL=="CMB0", \
SUBSYSTEM=="power_supply", \
ATTR{status}=="Discharging", \
ATTR{capacity}=="1[0-9]", \
RUN+="${pkgs.dunst}/bin/dunstify \"WARNING LOW BATTERY\""

SUBSYSTEM=="power_supply", ACTION=="change", \
ENV{POWER_SUPPLY_ONLINE}=="0", ENV{POWER}="off", \
OPTIONS+="last_rule", \
RUN+="${pkgs.dunst}/bin/dunstify \"WARNING LOW BATTERY\""

SUBSYSTEM=="power_supply", ACTION=="change", \
ENV{POWER_SUPPLY_ONLINE}=="1", ENV{POWER}="on", \
OPTIONS+="last_rule", \
RUN+="${pkgs.dunst}/bin/dunstify \"WARNING LOW BATTERY\""
